body {
background: pink;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: purple ;
text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(255, 255, 255); 
border-radius: 25%;
}
.project h3 {
    /* pull the h3 text away from the left blob wall */
    margin-left: 50px;
}
.project img {
    /* adjust your image sizes as needed */
    width: 700px;
    height: 650px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    /* center the images inside the blobs */
    text-align: center;
}
.project p {
    /* center the p text in the blob */
    text-align: center;
    margin: 15px;
}
