body {
    font-family: Arial, sans-serif;
    margin: 40px;
    color: #590dbbc2;
    background-color: #a84d94;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    vertical-align: top;
    padding: 8px;
}
h1, h2 {
    color: #2c3e50;
    margin-bottom: 5px;
}
hr {
    border: 0;
    border-top: 2px solid #2c3e50;
    margin: 10px 0 20px 0;
}
